
<h1>Album - {{picture.albumId}}</h1>
<h3>Picture - {{picture.id}}</h3>
    <div class="picture-container">
        <div class="picture"> 
            <img ng-src="{{picture.url}}">
            <span class="picture-title">accusamus beatae ad facilis cum similique qui sunt</span>
        </div>
        <div class="picture-novigation">
            <div>
                <button class="previous" value="previous">Previous</button>
            </div>
            <div class="number">{{picture.id}}</div>
            <div>
                <button class="next" value="next">Next</button>
            </div>
        </div>
    </div>



